.player-selection_article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.player-selection_header{
    align-self: center;
    width: 100%;
}
.player-selection_toggle-view{
    align-self: center;
}
.player-selection_pitch{
    position: relative;
    padding: 1rem;
}
.player-selection_pitch-pitch{
}
.player-selection_pitch-goal-keeper-row{
    position: absolute;
    display: flex;
    justify-content: center;
    right: 50%;
    transform: translateX(50%);
    top: 2%;
}
.player-selection_pitch-defenders-row{
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 50%;
    transform: translateX(50%);
    top: 12%;
    width: 60%;
}
.player-selection_pitch-midfielders-row{
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 50%;
    transform: translateX(50%);
    top: 25%;
    width: 60%;
}
.player-selection_pitch-strikers-row{
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 50%;
    transform: translateX(50%);
    top: 40%;
    width: 60%;
}
.player-selection_pitch-bench-row{
    position: absolute;
    justify-content: space-between;
    right: 50%;
    transform: translateX(50%);
    bottom: 5%;
    width: 70%;
    background-color: var( --gray-clr);
    padding: 0.75rem;
}
.player-selection_pitch-bench-row-show{
    display: flex;
}
.player-selection_pitch-bench-row-hide{
    display: none;
}
.player-selection_transfer{
    margin: -2rem;
}
.player-selection_pick-team{
    display: flex;
    gap: 1rem;
}
.player-selection_pick-team > *{
    flex-grow: 1;
}
