.main-theme_button{
    background-color: var(--main-theme-utility);
    color: var(--main-theme-primary-text-clr);
}
.main-theme_button:hover{
    background-color: var(--main-theme-utility-hover);
    color: var(--main-theme-primary-text-clr-hover);
    border: 1px solid black;
}
.main-theme_button-clicked{
    background-color: var(--main-theme-utility-hover);
    color: var(--main-theme-primary-text-clr);
}
.button_button{
    outline: none;
    border: 1px solid;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    transition: 200ms ease-in-out;
}