.auth-layout_section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.auth-layout_header{
    text-transform: capitalize;
    font-size:xx-large;
}
.auth-layout_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.auth-layout_form-input{
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 0.5rem;
}