.player-stats_row-container{
    display: flex;
    gap: 1rem;
    width: 100%;
}
.player-stats_row-container > *{
    display: flex;
    justify-content: flex-start;
    flex-basis: 23.3%;
}
.player-stats_team{
    flex-basis: 30%;
    display: flex;
    justify-content: flex-start;
}