.player-small-card_article{
    --img-width: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    cursor: pointer;
}
.player-small-card_img{
    max-width: 3rem;
}
.player-small-card_name-div{
    display: flex;
    width: calc(var(--img-width) * 2);
    background-color: var(--main-theme-primary-clr);
    color: var(--main-theme-secondary-text-clr);
    justify-content: center;
}
.player-small-card_div{
    display: flex;
    width: calc(var(--img-width) * 2);
    background-color: var(--main-theme-utility);
    justify-content: center;
}